{% extends "./plantilla_1.html"%} 
{% load static %}

{%block title%}
    <title>CONTA STATION - Compras</title>
{%endblock%}
{%block body%}
    
<script>
    function ingresarCompra()
    {
        var resultado = document.getElementById("divResultados");

        var ivaDebito = 0;
        var montoVenta = parseFloat(document.getElementById("txtMontoV").value);
        var tipoVenta = "";
        //var radiobutton = parseFloat(document.getElementsByName("r1").value);      
        
        //CAMBIOS inicio
        
        $("input[name='r1']" ).on('change', function () {
        
        alert("Desea cambiar el tipo de la transaccion?");
        });
        valor = $("input[type='radio'][name='r1']:checked").val();
        
        //CAMBIOS fin

































{% endblock %}