{% extends "./plantilla_1.html"%} 
{% load static %}

{%block title%}
    <title>CONTA STATION - eliminar</title>
{%endblock%}

    

{%block body%}


<script>
    function eliminar()
    {
        var resultado = document.getElementById("divResultados");

        
        var tipoVenta = "";
        //var radiobutton = parseFloat(document.getElementsByName("r1").value);      
        
        //CAMBIOS inicio
        
        $("input[name='r1']" ).on('change', function () {
        
        alert("Desea cambiar el tipo de la transaccion?");
        });
        valor = $("input[type='radio'][name='r1']:checked").val();
        
        //CAMBIOS fin

        if(valor == 1) { document.getElementById("tres").innerHTML = tipoVenta = "cuentas";  document.getElementById("txttres").value = tipoVenta;}
        if(valor == 2) { document.getElementById("tres").innerHTML = tipoVenta = "subcuentas";  document.getElementById("txttres").value = tipoVenta;}
        
        
        
                
        // Para mostrar los resultados
        resultado.style.display="block";

    }
</script>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Reiniciar data</h1>
    
</div>

<!-- Contenido especifico -->
<div class="row">

    <!-- Content Column izquierda-->
    <div class="col-lg-6 mb-4">

        <!-- Project Card Example -->
        <div class="card shadow mb-4">

            <form action="" method="get">
                
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Limpiar saldos de</h6>
                </div><br>
                <div>
                    &nbsp;&nbsp;&nbsp;<input type="radio" id="r1" name="r1" value="1"
                           checked>
                    <label for="r1">Cuentas</label>
                    &nbsp;&nbsp;&nbsp;<input type="radio" id="r2" name="r1" value="2"
                           checked>
                    <label for="r1">Subcuentas</label>
                
                </div>
                  
                  
                
            </form>
            
            <button id="bton4" class="btn btn-success" onclick="eliminar()">Proceder a eliminar</button>
        </div>

        
    </div>        
    <div id = "divResultados" style="display: none;"  class="card shadow mb-4"  >
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">¿Desea guardar el reinicio?</h6>
            </div>
            <div class="card-body">
                
                <form action="/reiniciar/" method="post">{% csrf_token%}
                    <h4 class="small font-weight-bold">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">Accion</th>
                                        <th style="text-align: center;">Registro</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>&nbsp;&nbsp;Reiniciar</td>
                                        <td style="text-align: center;">
                                            <label id = "tres" name = "tres"></label> 
                                            <input  style="display: none;"type="text" id = "txttres" name = "txttres" class="form-control">
                                        </td> 
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </h4>
                    <div class="card-body" style="text-align: center;">
                        <button id="bton4" class="btn btn-success" type="submit">Guardar reinicio</button><br>
                    </div>  

                </form>
                
                <br><br>
                <a href="eliminar" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-recycle fa-sm text-white-50"></i> Reiniciar</a>
            </div>
            
    </div>

    
</div>


{% endblock %}