{% extends "./plantilla_1.html"%}
{% load static %}

{%block title%}
    <title>CONTA STATION - Página Inicio</title>
{%endblock%}

{%block body%}

    <!-- Parte inicial -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Conta Station</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generar reporte</a>
    </div>

    <!-- General contenido de capital, venta e inventario en fila -->
    <div class="row">

        <!-- Cantidad del capital -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Capital</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"> $0,000.00</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Valor de las ventas -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Ventas Periodo Contable</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$0,000.00</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
    </div>

    <!-- Contenido especifico -->
    <div class="row">

        <!-- Content Column izquierda-->
        <div class="col-lg-6 mb-4">
         
        </div>

        <!-- Content Column derecha-->
        <div class="col-lg-6 mb-4">

            <!-- Illustrations Finanzas-->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Finanzas</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                            src="{% static 'img/undraw_posting_photo.svg' %}" alt="...">
                    </div>
                    <p><!-- texto --></p>
                    <a target="_blank" rel="nofollow" href="https://undraw.co/"></a>
                </div>
            </div>

            <!-- Notas Conta Station-->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Notas Conta Station</h6>
                </div>
                <div class="card-body">
                    <p><!-- texto --></p>
                    <p class="mb-0"><!-- texto --></p>
                </div>
            </div>

        </div>
    </div>

{%endblock%}